<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="D:\home\Python39\python.exe">
      <arguments>gunicorn --bind=0.0.0.0 --timeout 600 app:app</arguments>
      <stdoutLogEnabled>true</stdoutLogEnabled>
      <stdoutLogFile="D:\home\LogFiles\gunicorn.log" />
    </httpPlatform>
  </system.webServer>
</configuration>
